*{
    margin: 0%;
    padding: 0%;
}
html,body {
    font-family: Arial;
    scroll-behavior: smooth;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.644)), url("../images/catering-768.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: auto;
}
.snap{
    scroll-snap-type:  y mandatory;
    scroll-snap-align: start;
}
/*Navigation*/
nav{
    height: 70px;
    position:sticky;
    top: 0;
    display: flex;
    padding-left: 20px;
    background: linear-gradient(90deg, black, #000000cc);

}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li {
    
    margin:20px 20px 20px 0px;

    font-size: 20px;
}
nav ul li :hover{
    color: greenyellow;

    scroll-behavior: smooth ;
}
/*Submenu*/

.submenu-option{
    display: none;
}
nav ul li:hover .submenu-option {
    display: block;
    position:absolute;

}
nav ul li#hovering:hover {
    background-color: rgba(220, 220, 220, 0.459);
    
}
#catering {
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.507);
}
.item-selection{
    text-transform: uppercase;
    margin-top: 20px;
    display: flex;
    height: 190px;
    width: 190px;
    justify-content: center;
    flex-direction: column;
    transition: 1s;



}
.submenu-option a{
    text-decoration: none;
    text-align: center;
    font-size: 23px;
    color: white;
    font-weight: bolder;
    letter-spacing: 3px;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.425));
    
}
#birthday{
    background: linear-gradient(rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.329)), url("../images/birthday.jpg");
    background-position: center;
    background-size: cover;
}
#baptismal{
    background: linear-gradient(rgba(0, 0, 0, 0.329),rgba(0, 0, 0, 0.329)), url("../images/baptismal.jpg");
    background-position: center;
    background-size: cover;
}


.submenu-option .item-selection :hover{
    background: linear-gradient(rgba(0, 0, 0, 0.651),rgba(0, 0, 0, 0.692));
    font-size: 23px;
}
#logo {
    height: 60px;
    padding-top: 5px;
    position: absolute;
    right: 0;
}
#active{
    color: yellowgreen;
    border-bottom: 1px solid yellowgreen;
}

/*Container Part*/

.container{
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
}

.title {
background: linear-gradient(rgb(196 190 190 / 5%), #000000a6), url("../images/Social.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 70vh;
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}
.title h1{
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: cursive;
}
.title h2{
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 8px;
    border-top: 4px double;
    border-bottom: 4px double;
    color: greenyellow;
}


.form{
    height: 100vh;
    width: 100%;
    margin-bottom: 50px;
    background-color: gainsboro ;
    
}






















/*FOOTER*/
footer {
    display: flex;  
    direction:column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    position:absolute;
    top: auto;
    color :whitesmoke;
    background-color: rgb(1, 1, 1);
}
#foot-con h1{
    justify-content: center;
}
#flogo{
    height: 100px;
    width: 150px;
}
#fsname{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    color: greenyellow;
    margin-top: 2%;
    text-align: center;
    font-weight: bolder;
}