*{
    margin: 0%;
    padding: 0%;

}
html,body {
    font-family: Arial;
    scroll-behavior: smooth;
    transition: 250ms;
    
    
}
body {
    height: 100%;
}
.snap{
    scroll-snap-type:  y mandatory;
    scroll-snap-align: start;
}
nav{
    height: 80px;
    width: 100%;
    position:sticky;
    top: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: right;

   
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    
    align-items: center;
}
nav ul li {
    
    margin:0px 20px 0px 20px;
    padding: 5px;

    font-size: 20px;
}
nav ul li :hover{
    color: greenyellow;

    scroll-behavior: smooth ;
}   


#logo {
    height: 60px;
    padding-top: 5px;
    position: absolute;
    left: 0;

}
#active{
    color:yellowgreen;
    border-bottom: 1px solid yellowgreen;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;  
}
.info-container {
background: gainsboro;
width: 80%;

}
.cart-container {
    height: 80%;

}

.amount-container{
height: 100px;
border: 1px solid red;
}
.item-container{
    display: flex;
    justify-content: center;
    margin-top: 35px;

}
table tr td img{
    height: 50px;
}
td,
th {
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

th[scope='row'] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    width: 90%;
}
td button{
    height: 30px;
    width: 100px;
    border-style: hidden;
    color: white;
    background: red;
}
td [scope='row']{
    background-color: red;
}
#checkout{
    background-color: green;
}











footer {
    display: flex;  
    direction:column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    position:absolute;
    top: auto;
    color :whitesmoke;
    background-color: rgb(1, 1, 1);
}
#foot-con h1{
    justify-content: center;
}
#flogo{
    height: 100px;
    width: 150px;
}