*{
    margin: 0%;
    padding: 0%;

}
html,body {
    font-family: Arial;
    scroll-behavior: smooth;
    transition: 250ms;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.644)), url("../html/mihanz-cater.jpg");
background-position: center;
background-size: cover;
background-attachment: fixed;
    
}
body{
    height: 100%;
}
nav{
    height: 70px;
    width: 100%;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #000000eb;
   
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li {
    
    margin:0px 20px 0px 20px;
    padding: 5px;

    font-size: 20px;
}
nav ul li :hover{
    color: greenyellow;

    scroll-behavior: smooth ;
}

#logo {
    height: 60px;
    padding-top: 5px;
    position: absolute;
    left: 0;
}



#active{
    color: yellowgreen;
    border-bottom: 1px solid yellowgreen;
}
.container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}
.item-selection{
    display: flex;
    height: 300px;
    width: 500px;
    margin: 20px;
    justify-content: center;
    align-items: center;

}

#birthday{
    background: linear-gradient(rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.5)), url("../html/birthday.jpg");
background-position: center;
background-size: cover;
}
#baptismal{
    background: linear-gradient(rgba(0, 0, 0, 0.479),rgba(0, 0, 0, 0.5)), url("../html/baptismal.jpg");
background-position: center;
background-size: cover;
}
.container .item-selection a{
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    letter-spacing: 3px;

}
.container .item-selection:hover a{
    box-shadow: 1px 1px 20px 4px white;
    height: 300px;
    width: 500px;
   
}
.container .item-selection :hover{
    font-size: 65px;
    background: linear-gradient(rgba(0, 0, 0, 0.493),rgba(0, 0, 0, 0.425));
   
}



footer {
    display: flex;  
    direction:column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    position:absolute;
    top: auto;
    color :whitesmoke;
    background-color: rgb(1, 1, 1);
}
#foot-con h1{
    justify-content: center;
}
#flogo{
    height: 100px;
    width: 150px;
}
#fsname{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    color: greenyellow;
    margin-top: 2%;
    text-align: center;
    font-weight: bolder;
}