*{
    margin: 0%;
    padding: 0%;
}
html,body {
    font-family: Arial;
    scroll-behavior: smooth;
    transition: 250ms;
    background: linear-gradient(rgba(0, 0, 0, 0.623),rgba(0, 0, 0, 0.644)), url("../html/mihanz-cater.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.snap{
    scroll-snap-type:  y mandatory;
    scroll-snap-align: start;
}
nav{
    height: 70px;
    width: 100%;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #000000eb;
   
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav ul li {
    
    margin:0px 20px 0px 20px;
    padding: 5px;

    font-size: 20px;
}
nav ul li :hover{
    color: greenyellow;

    scroll-behavior: smooth ;
}
.submenu{
    display: none;
}
nav ul li  :hover  .submenu{
    display: block;
    position:absolute;
}
#logo {
    height: 60px;
    padding-top: 5px;
    position: absolute;
    left: 0;
}
#active{
    color: yellowgreen;
    border-bottom: 1px solid yellowgreen;
}
.container {
    height: auto;
}
#about-us{
    height: 100vh;
}








#contact{
    height: 100vh;
    
}


footer {
    display: flex;  
    direction:column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    position:absolute;
    top: auto;
    color :whitesmoke;
    background-color: rgb(1, 1, 1);
}
#foot-con h1{
    justify-content: center;
}
#flogo{
    height: 100px;
    width: 150px;
}
#fsname{
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 5px;
    color: greenyellow;
    margin-top: 2%;
    text-align: center;
    font-weight: bolder;
}
